.title {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
}

.title hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #991600, #ccc, #333);
}

.title h1 {
    color: #ccc;
}

#name {
    font-size: xxx-large;
    font-weight: bold;
    color: #991600;

}

.paragraphs {
    display: grid;
    grid-template-rows: 50% 50%;
    row-gap: 5%;
    width: 75%;
}

.paragraphs a {
    text-decoration: none;
    color: #991600;
    transition: .2s ease-in-out;
}

.paragraphs a:hover {
    color: #ccc;
}

.about p {
    font-size: larger;
    font-weight: bold;
    color: #333;
    text-align: left;
}