.connect {
    display: grid;
    grid-template-columns: repeat(4, 8%);
    column-gap: 2%;
    justify-content: center;
}

.connect a {
    text-decoration: none;
    color: #991600;
}

.connect img {
    transition: .2s ease-in-out;
}

.connect img:hover {
    transform: scale(1.2);
    /* opacity: rgb(153, 22, 0, 0.3); */
}